body {
  background: rgb(240,240,240);
  margin: 0;
  @media (min-width: 768px) {
    margin: 30px;
    .container {
      width: calc(750px - 60px);
    }
  }
}

.parallax-window {
  background: transparent;
}

.home-page__header-container {
  height: 100%;
  position: relative;
  font-family: 'Lato';
  .home-page__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    text-align: center;
    font-size: 120%;
    @media (min-width: 1024px) {
      width: 700px
    }

    img.portrait {
      display: block;
      margin: 0 auto;
      @media (min-width: 1024px) {
        float: left;
        margin-right: 50px;
      }
    }

    h1 {
      padding: 25px;
      @media (min-width: 1024px) {
        padding: 20px 0 0 0;
      }
    }

    .subheader {
      padding: 0 20px;
    }
  }
}

.portrait {
  border-radius: 100%;
  height: 150px;
}

.align-right {
  text-align:center;
}

section.portfolio-work {
  background: white;
  padding-top: 25px;
}
section.work-with-me {
  margin: 50px 0;
  padding: 10px 0 35px 0;
  color: #5A5A5A;
  font-family: 'Ubuntu', sans-serif;
  background: rgb(240,240,240);
  h1 {
    margin: 30px 0;
  }
  h2 {
    margin: 15px 25px;
  }
  p {
    margin: 0 20px 10px;
  }
}

@media (min-width: 768px) {
  .align-right {
    text-align:right;
  }
}

.web-work {
  font-family: 'Lato';
  margin-bottom: 25px;
  + .web-work {
    margin-bottom: 25px;
  }
  img {
    width: 100%;
    transition: 0.5s ease;
    border-radius:1px;
    border-bottom:2px solid transparent;
      &:hover {
        border-bottom:2px solid rgb(150,150,150);
      }
    }
}

.overlay-container {
  background: white;
  width: calc(100% - 30px);
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  &:hover {
    opacity: 0.9;
  }
  .overlay-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
  }
}

// Font Stuff
.content-header {
  font-size: 20px;
  color: #E65100;
}
.content-desc {
  color: black;
}
.subheader {
  font-weight: 200;
}

.thin {
  font-weight: 100;
}

.icon {
  svg {
    display: inline-block;
    vertical-align: middle;
  }
}
